
/* borra los valores predeterminados del html */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}
body{
  background-color: #fef6e4;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}
.subtitulo {
  text-align: center;
  font-size: 15px; 
  padding-bottom: 2em;
}
@media screen and (min-width: 700px) {
  .subtitulo {
  font-size: 6rem; 
  text-align: center;
  }

}
@media screen and (min-width: 300px) {
  .subtitulo {
  font-size: 2em; 
  text-align: center;
  }
}
#boxBanner {
  display: flex;
  justify-content: center; 
  flex-direction: column;  
  justify-items: center;
}
#boxBanner img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}   
 @media screen and (min-width: 300px) {
  #totoro {
    height: 50%;
    width: 50%;
  }
} 
.boxNavegador{
  display:flex;
  background-color: #f3d2c1;
  justify-content:space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}
.icon{
  width: 2em;
  height:2em;
}
a {
  text-decoration: none;
  display: flex;
  }
  @media screen and (min-width: 750px) {
    .iconlabel {
      display: contents;
    }
  }
  @media screen and (min-width: 300px) {
  .iconlabel {
    display: none;
  }
}
.posterStyle {
  display: flex;
  width: 200px;
  height: 284px;
  align-self: center;
  border-radius: 2em;
}
.posterTitle {
  display: flex;
  align-self: center;
  font-size: .8em;
}
.container-images{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px; /* row-gap column gap */
  row-gap: 100px;
  justify-content: space-between;
  align-items:center;
  padding:3em;  
}
.container-images >div {
  width: 225px;
  height: 350px;
  display: flex;
  background-color:#f3d2c1;
  flex-direction:column;
  align-items:center;
  justify-items:center;
  align-content: center;
  justify-content:space-between;
  padding: 1em;
  border-radius: 2em;
}
  footer{
  display: flex;
  align-items: center;
  padding: 2em;
  justify-content: center;
  background-color: #f3d2c1;
}
  .footer{
    font-size: .7em;
  }

/* @media screen and (min-width: 300px) {
  .grid-container {
    display: flex;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    grid-auto-columns: 200px;
    justify-content: center;
  }
}
@media screen and (min-width: 750px) {
  .grid-container {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-items: center;
  align-content: space-between;
  justify-content:first baseline;
  }
}
@media screen and (min-width: 750px) {
  #totoro {
    height: 20rem;
  }
}
@media screen and (min-width: 750px) {
  .iconlabel {
    display: contents;
  }
}

    
  /* //hasta la 55 esta comentado y es lo que funciona  */

/* * {
    box-sizing: border-box;

  }
     
  .columna {
    float: left;
    width: 25%;
    padding-right: 5px;
    padding-bottom: 24px;
  }
  
  .cuadricula::after {
    content: "";
    clear: both;
    display: flex;
  }
 
  .cuadricula {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color:#001858;
  font-size: 1.4em;
  }
  
  .title {
    font-family:'Libre Bodoni', serif; 
    font-size: 2.5em;
    color:#001858;
    position: relative;
    top: 3em;
    text-align: center;
}
header {
  margin-bottom: -4em;
}
  #barnerImg {
    width: 1024px;
    height: 426px;
    position: relative;
    display: relative;
  }

  @media (min-width: 640px){
   
     #barnerImg {
      width: 512px;
      height: 213px;
     }
   
  }
header,footer {
  background-color:#f3d2c1;
}
footer{
  color:#001858;
  font-family:'Libre Bodoni', serif;
  min-height: 5em;
  }
#footer{
  text-align: center;
  padding: 2em;
}
main {
  background-color:#fef6e4 ;
}
.btn2 {
  
  top: 50%;
  left: 90%;
}
.btn{
  top: 50%;
  left: 10%;
}
.btn, .btn2 {
  padding-top: 1em;
  padding-bottom: -3em;
  position:absolute;
  transform: translate(-50%, -50%);
}

a{
  display: block;
  width: 150px;
  height: 3em;
  line-height: 40px;
  font-size: 15px;
  font-family: 'Playfair Display', serif; ;
  text-decoration: none;
  color:#001858;
  border: 2px solid #f582ae;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f582ae;
  transition: all .35s;
}



a:hover:after{
  width: 100%;
}
#orderIcon {
  width: 25px;
  height: 25px;
  margin-bottom: -.5em;
}

.posterStyle {
  width: 200px;
  height: 284px;
  border: 5px solid #000;
}

.posterTitle {
margin-top: 3em;
padding-bottom:2em;
}




  /* font-family: 'Cinzel', serif;
font-family: 'Libre Bodoni', serif;
font-family: 'Playfair Display', serif; */
